in
bin
.idea
cmake
cmake-build-debug
.ycm_extra_conf.py
.ycm_extra_conf.pyc
.*.swp
src/latex/*.aux
src/latex/*.fdb_latexmk
src/latex/*.fls
src/latex/*.log
src/latex/*.synctex.gz
src/latex/*.toc
src/latex/*.xdv
.DS_Store
src/latex/*.pdf
*.dSYM
src/db/*
!src/db/*.cc
!src/db/Makefile

src/primer/lc/*
!src/primer/lc/Makefile
!src/primer/lc/*.cc

src/nav/*
!src/nav/Makefile
!src/nav/*.h
!src/nav/*.cc
!src/nav/third_party


src/primer/stl/*
!src/primer/stl/Makefile
!src/primer/stl/*.cc

src/primer/chapter*/*
!src/primer/chapter*/Makefile
!src/primer/chapter*/*.cc

src/clrs/chapter*/*
!src/clrs/chapter*/Makefile
!src/clrs/chapter*/*.cc
